<div class="location-show-wrapper">
  <div class="row">
    <div class="col-8">
      <div class="location-banner" id="location-info-image" style="background-image: url(<%= @location.photo.attached? ? cl_image_path(@location.photo.key) : 'https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg' %>)">
      </div>
  </div>
    <div class="col-4">
      <div class="d-flex flex-column location-info-wrapper">
        <h2> <%= @location.name  %> </h2>
        <p> <%= @location.description %> </p>
        <p> <%= @location.address %> </p>
        <div class='d-flex flex-grow-1'>
          <h5 class= 'mr-2'> $<%= @location.price_per_day %> </h5>
          <p style='color: $light-gray'>per day</p>
        </div>

        <h5 class="mr-3"><i class="fas fa-user-friends"></i> <%= @location.capacity %> </h5>
      </div>
      <% if @show_calendar %>
        <div class="location-info-wrapper mt-3">
          <% if policy(Booking).create? %>
            <%= render 'bookings/form', price: @location.price_per_day %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
